<h1>Closest Electric Fuel Station to You</h1>

<%= "Name: #{@station[:station_name]}" %>

<p>Address: <%= @station[:street_address] %>,
  <%= @station[:city] %>,
  <%= @station[:state] %>,
  <%= @station[:zip] %> </p>

<%= "Fuel Type: #{@station[:fuel_type_code]}" %> <br />

<%= "Access Times: #{@station[:access_days_time]}" %> <br />

<%= "Distance of Nearest Station: #{@directions[:distance]} miles" %> <br />

<%= "Travel Time: #{@directions[:travel_time]}" %> <br />
<p>Direction Instructions: </p>
<% @directions[:directions].each do |narrative| %>
<ul>
  <li><%= narrative %></li>
</ul>
<% end %>
