<h1>Closest Electric Fuel Station to You</h1>

<%= "Name: #{@station.name}" %> <br />

<%= "Address: #{@station.address}" %> <br />

<%= "Fuel Type: #{@station.fuel_type_code}" %> <br />

<%= "Access Times: #{@station.access_days_time}" %> <br />

<%= "Distance of Nearest Station: #{@station.distance} miles" %> <br />

<%= "Travel Time: #{@station.travel_time}" %> <br />
<p>Direction Instructions: </p>
<% @station.directions.each do |narrative| %>
<ul>
  <li><%= narrative %></li>
</ul>
<% end %>
